---
---
* {
    box-sizing: border-box;
}

body {
    background-image: url('/imgs/snow-soldier.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section {
    margin-top: 50px;
}

.section {
    height: 100vh;
}
@media all and (max-width:480px) {
    .col-lg-6 {
        p {
            margin-bottom: 15px;
        }
    }
}